* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
  }

  body {
    font-family: Comic Sans MS;
    text-transform: uppercase;
    color: #371d0d;
    background-color: lightcoral;
  }

  .title {
    text-align: center;
    border: 0.1em #371d0d solid;
    color: white;
  }

  .pokeball { 
    width: 15%; 
    height: 15%; 
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .start-page {
      text-align: center;
  }

  .collage {
    width: 85%; 
    height: 50%; 
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    background: url(img/collage.jpg) fixed;
    border: 0.1em #371d0d solid;
  }

  .oak {
    width: 25%; 
    height: 25%; 
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .starter{
      color: black;
      border: 1px black;
      background: lightcoral;
  }

  .quiz-page {
      text-align: center;
  }

  .score-container {
      border: 0.1em #371d0d solid;
      color: white;
  }

  .button {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  }

  .questionContainer {
    border: 0.1em #371d0d solid;
  }

  

  .charizard {
    width: 50%; 
    height: 50%; 
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .feedback {
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  #final-score {
      color: white;
  }